services:
  filebrowser:
    image: filebrowser/filebrowser:s6
    container_name: filebrowser
    ports:
      - 5050:80
    volumes:
      - $(pwd):/srv
      - ./filebrowser/database:/database
      - ./filebrowser/config:/config