services:
  filebrowser:
    image: filebrowser/filebrowser:s6
    container_name: filebrowser
    ports:
      - 5050:80
    volumes:
      - .:/srv
      # - ./filebrowser/database:/database
      # - ./filebrowser/config:/config